/* .tasks {
  width: 300px; 
} */
.checkShow {
  display: flex;
  column-gap: 10px;
  
}
.task,.check,.show {
  height: 30px;
}


.main {
  display: flex;
  align-items: start;
  
  

}

.trigTable {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  
}
.trigTable img, .ineq {
  visibility: hidden;
}
.showHide {
  display:inline-flex;
}


.circle {
    position: relative;
    width: 400px;
    margin-right: 10px;
    min-width: 400px;
  }
  
  
  .circle img {
    width: 100%;
    height: auto;
  }

.randomDot,.randomEq,.ineq {
   height: 100px; 
  font-size: 32px;
  text-align: center;
  margin: 10px;
}
.randomDot {
  font-size: 60px;
}

/* .tasks {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  align-items: top;
} */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



/* CSS */
.check,.show,.task {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405bf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.check:disabled,.show:disabled {
  cursor: default;
  opacity: 0.3;
}

.check:focus,.show:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}


  
  
  
  
